<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between items-center">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ Id ? 'แก้ไข หน้าเว็บเพจ' : 'เพิ่ม หน้าเว็บเพจ' }}
                </h2>
            </div>

        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="grid gap-4 w-full sm:grid-cols-1">
            <form class="bg-card rounded-2xl md:shadow overflow-hidden px-8 pt-6 pb-8 mb-4 flex flex-col my-2"
                [formGroup]="editForm">
                <div class="flex flex-col gap-2 w-full">
                    <div class="mx-3 flex mb-6 flex-col  w-full">
                        <div class="w-full px-3 mb-6 md:mb-0">

                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>Website</mat-label>
                                <mat-select [formControlName]="'brand'">
                                    <mat-option [value]="null">
                                        ทั้งหมด
                                    </mat-option>
                                    <mat-option *ngFor="let item of brand;" value="{{item}}">
                                        {{item == 'K' ? "KGG":item == 'R' ? 'RG':item == 'A' ? 'AMB':'AMB'}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>ชื่อ</mat-label>
                                <input matInput formControlName="name">
                            </mat-form-field>
                        </div>
                        <div class="md:w-full px-3">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>หมวดหมู่</mat-label>
                                <mat-select formControlName="page_categorie_id"
                                    (selectionChange)="onIdChange($event.value)">
                                    <mat-option *ngFor="let category of categories" [value]="category.id">
                                        [{{ category.id}}] {{ category.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="md:w-full px-3 flex flex-col md:flex-row gap-2">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:w-1/2">
                                <mat-label>ประเภท</mat-label>
                                <mat-select formControlName="type">
                                    <mat-option *ngFor="let item of type" [value]="item">
                                        {{ item }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:w-1/2">
                                <mat-label>ลำดับการแสดงผล</mat-label>
                                <input matInput formControlName="show_step" type="number">
                            </mat-form-field>
                        </div>
                      
                    </div>
                    <!-- ไฟล์แนบ -->
                    <div *ngIf="selectedId === 6 || selectedId === 5"
                        class="mx-3 flex mb-6 flex-col w-full md:w-full gap-2">
                        <div class="md:w-full px-3">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers" (click)="file_name.click()">
                                <mat-label>แนบเอกสาร (เลือกเฉพาะไฟล์ Excel)</mat-label>
                                <div matPrefix class="bg-red-400 cursor-pointer pr-2">
                                    <p>upload file |</p>
                                </div>
                                <button mat-icon-button matSuffix>
                                    <mat-icon>attach_file</mat-icon>
                                </button>
                                <input type="text" readonly matInput [formControlName]="'file_name'" />
                                <input type="file" hidden #file_name
                                    (change)="onSelectFile(file_name.files, 'addfile', 0)"
                                    accept=".xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                <mat-error>กรุณาเลือกไฟล์</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- เลือกรูป -->
                    <div *ngIf="selectedId === 1 || selectedId === 2 || selectedId === 3 || selectedId === 4"
                        class="mx-3 flex mb-6 flex-col w-full md:w-full gap-2">
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <ngx-dropzone (change)="onSelect($event)">
                                <ngx-dropzone-label>เลือกรูป</ngx-dropzone-label>
                                <div *ngFor="let f of files">
                                    <ngx-dropzone-image-preview [file]="f" [removable]="true"
                                        (removed)="onRemove(f)"></ngx-dropzone-image-preview>
                                </div>
                            </ngx-dropzone>
                        </div>
                        <div class="flex justify-center w-full px-3" *ngIf="this.url_image">
                            <img class="object-cover h-44 w-auto border-2 border-gray-50 rounded-sm"
                                src="{{this.url_image}}">
                        </div>
                    </div>
                    <!-- Text Editor -->
                    <div *ngIf="selectedId === 1 || selectedId === 2 || selectedId === 3 || selectedId === 4 || selectedId === 6 || selectedId === 5 || selectedId === 7"
                        class="mx-3 flex mb-6 flex-col w-full md:w-full gap-2 mt-5">
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <quill-editor [formControlName]="'detail'" [modules]="editorModules"
                                [placeholder]="'Write something here...'" class="w-full h-full">
                            </quill-editor>
                        </div>
                    </div>
                </div>
                <div class="flex justify-end mt-10">
                    <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="onSubmit()">
                        บันทึก
                    </button>
                    <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="backTo()">
                        ยกเลิก
                    </button>
                </div>
            </form>
        </div>

    </div>

</div>