<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b
        bg-card dark:bg-transparent" *ngIf="this.isForm === true">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                    *ngIf="this.isForm === true">
                    สร้างใบจอง
                </h2>

                <!-- <div class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="onSubmit()">
                        บันทึก
                    </button>
                    <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onBack()">
                        ยกเลิก
                    </button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
        *ngIf="this.isForm === false">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    แก้ไขการจอง
                </h2>
                <div class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">

                    <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onBack()">
                        ย้อนกลับ
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="grid gap-4 w-full sm:grid-cols-1 md:grid-cols-1 bg-card rounded-lg">
            <span
                class="px-6 text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500">
                ข้อมูลการจอง
                <p>
                    วันที่จอง : <span
                        class="px-6 text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-900">
                        {{this.formattedDateTime ?? '-'}}</span>
                </p>
            </span>
            <form [formGroup]="formData">
                <div class="flex md:flex-row flex-col">
                    <div class="flex flex-col mx-3 md:flex mb-6 w-full md:w-1/2">
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>เซลผู้รับจอง</mat-label>
                                <input matInput [formControl]="saleFilter" [matAutocomplete]="saleAutoComplete"
                                    placeholder="ค้นหาเซลผู้รับจอง" />
                                <mat-autocomplete #saleAutoComplete="matAutocomplete"
                                    (optionSelected)="onSelectSale($event.option.value, 'manual')">
                                    <mat-option *ngFor="let item of filterSale | async" [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="saleFilter.hasError('required') && saleFilter.touched">
                                    กรุณาเลือกเซลผู้รับจอง
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>ช่าง</mat-label>
                                <input matInput [formControl]="engineerFilter" [matAutocomplete]="engineerAutoComplete"
                                    placeholder="ค้นหาช่าง" />
                                <mat-autocomplete #engineerAutoComplete="matAutocomplete"
                                    (optionSelected)="onSelectEngineer($event.option.value, 'manual')">
                                    <mat-option *ngFor="let item of filterEngineer | async" [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-autocomplete>

                            </mat-form-field>
                        </div>

                        <div class="flex flex-col md:flex-row gap-2 w-full px-3 mb-6 md:mb-2">
                            <button mat-raised-button color="accent" (click)="customer('LIST')" class="mx-1">
                                <mat-icon svgIcon="search"></mat-icon>
                                &nbsp;ค้นหาลูกค้า</button>
                            <button mat-raised-button color="accent" (click)="customer('NEW')" class="mx-1">
                                <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
                                &nbsp;เพิ่มลูกค้า</button>
                        </div>
                        <span
                            class="px-4 text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500">
                            <p>
                                ประเภทลูกค้า : <span
                                    class="px-6 text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-900">
                                    {{this.formData.value.type ?? '-'}}</span>
                            </p>
                        </span>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>ชื่อ - นามสกุล (ลูกค้า)</mat-label>
                                <input matInput placeholder="ชื่อ - นามสกุล" [formControlName]="'customer_name'"
                                    readonly>
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0 flex flex-col md:flex-row gap-2">
                            <mat-form-field class="w-full md:w-1/2">
                                <mat-label>เบอร์ติดต่อ</mat-label>
                                <input matInput placeholder="เบอร์ติดต่อ" [formControlName]="'phone'" readonly>
                            </mat-form-field>
                            <mat-form-field class="w-full md:w-1/2">
                                <mat-label>เลขประจำตัวประชาชน</mat-label>
                                <input matInput placeholder="เลขประจำตัวประชาชน" [formControlName]="'idcard'" readonly>
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>ที่อยู่</mat-label>
                                <textarea matInput [placeholder]="'กรอกข้อมูลที่อยู่'" [rows]="5"
                                    formControlName="address" readonly></textarea>
                                <mat-icon class="icon-size-5" matPrefix>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" fit="" height="100%" width="100%"
                                        preserveAspectRatio="xMidYMid meet" focusable="false">
                                        <path fill-rule="evenodd"
                                            d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
                                            clip-rule="evenodd"></path>
                                    </svg></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex md:flex-row flex-col w-full px-3 mb-6 md:mb-0 gap-2">
                            <!-- <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:w-2/4">
                                <mat-label>เลือกยี่ห้อ</mat-label>
                                <mat-select formControlName="brand_id" (selectionChange)="selectBrand($event.value)">
                                    <mat-option *ngFor="let item of brandData;" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:w-4/4">
                                <mat-label>เลือกยี่ห้อ</mat-label>
                                <input matInput [formControl]="brandFilter" [matAutocomplete]="brandAutoComplete"
                                    placeholder="ค้นหายี่ห้อรถ" />
                                <mat-autocomplete #brandAutoComplete="matAutocomplete"
                                    (optionSelected)="onSelectBrand($event.option.value, 'manual')">
                                    <mat-option *ngFor="let item of filterBrand | async" [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <!-- <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:w-2/4">
                                <mat-label>เลือกรุ่น</mat-label>
                                <mat-select formControlName="brand_model_id"
                                    (selectionChange)="selectBrandModel($event.value)">
                                    <mat-option *ngFor="let item of brandModelData;" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                            <!-- <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:w-2/4">
                                <mat-label>เลือกรุ่น</mat-label>
                                <input matInput [formControl]="brandModelFilter" [matAutocomplete]="brandModelAutoComplete"
                                    placeholder="ค้นหารุ่นรถ" />
                                <mat-autocomplete #brandModelAutoComplete="matAutocomplete"
                                    (optionSelected)="onSelectBrandModel($event.option.value, 'manual')">
                                    <mat-option *ngFor="let item of filterBrandModel | async" [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field> -->
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <!-- <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>เลือกรถ</mat-label>
                                <mat-select [formControl]="productFilter"
                                    (selectionChange)="selectProduct($event.value)">
                                    <mat-option *ngFor="let item of productData;" [value]="item">
                                        ชื่อรถ : {{item.name ?? '-'}} , ปี : {{year}} , เลขทะเบียน :
                                        {{item.license_plate ?? '-'}} ,เลขทะเบียน : {{item.license_plate ?? '-'}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:w-4/4">
                                <mat-label>เลือกรถ</mat-label>
                                <input matInput [formControl]="carFilter" [matAutocomplete]="carAutoComplete"
                                    placeholder="ค้นหารถ" />
                                <mat-autocomplete #carAutoComplete="matAutocomplete"
                                    (optionSelected)="selectProduct($event.option.value)">
                                    <mat-option *ngFor="let item of filterCar | async" [value]="item">
                                    ทะเบียน :  {{item.license_plate}} , {{item.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <div class="w-full mb-6 md:mb-0">
                            <div class="relative overflow-x-auto shadow-md m-4 border-2">
                                <table class="w-full text-md text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <thead
                                        class="text-md text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-6 py-3 w-1/2 h-full">
                                                รายการ
                                            </th>
                                            <th scope="col" class="px-6 py-3 w-1/2 text-center h-full">
                                                รายละเอียด
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            class="bg-white border-b dark:bg-gray-800 h-15 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                            <td class="px-6 py-1">
                                                ยี่ห้อ/รุ่นรถยนต์
                                            </td>
                                            <td class="px-6 text-center">
                                                {{productSelected?.brand_model ?? '-'}}
                                            </td>
                                        </tr>
                                        <tr
                                            class="bg-white border-b dark:bg-gray-800 h-15 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                            <td class="px-6 py-1">
                                                ปี
                                            </td>
                                            <td class="px-6 text-center">
                                                {{productSelected?.year ?? '-'}}
                                            </td>
                                        </tr>
                                        <tr
                                            class="bg-white border-b dark:bg-gray-800 h-15 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                            <td class="px-6 py-1">
                                                สี
                                            </td>
                                            <td class="px-6 text-center">
                                                {{productSelected?.color ?? '-'}}
                                            </td>
                                        </tr>
                                        <tr
                                            class="bg-white border-b dark:bg-gray-800 h-15 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                            <td class="px-6 py-1">
                                                เกียร์
                                            </td>
                                            <td class="px-6 text-center">
                                                {{productSelected?.gear ?? '-'}}
                                            </td>
                                        </tr>
                                        <tr
                                            class="bg-white border-b dark:bg-gray-800 h-15 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                            <td class="px-6 py-1">
                                                หมายเลขทะเบียน
                                            </td>
                                            <td class="px-6 text-center">
                                                {{productSelected?.license_plete ?? '-'}}-{{productSelected?.province ??
                                                '-'}}
                                            </td>
                                        </tr>
                                        <tr
                                            class="bg-white border-b dark:bg-gray-800 h-15 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                            <td class="px-6 py-1">
                                                หมายเลขเครื่องยนต์
                                            </td>
                                            <td class="px-6 text-center">
                                                {{productSelected?.engine_no ?? '-'}}
                                            </td>
                                        </tr>
                                        <tr
                                            class="bg-white border-b dark:bg-gray-800 h-15 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                            <td class="px-6 py-1">
                                                หมายเลขตัวถัง
                                            </td>
                                            <td class="px-6 text-center">
                                                {{productSelected?.tank_no ?? '-'}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="flex md:flex-row flex-col w-full px-3 mb-4 md:mb-2 gap-2">
                            <div class="md:w-1/2" *ngIf="image">
                                <img class="h-auto max-w-full rounded-md" [src]="image" alt="image"
                                    (click)="zoomImage(image)">
                            </div>
                            <div *ngIf="zoomedImage" class="fixed zoom-modal" (click)="closeZoom()">
                                <img [src]="zoomedImage" [alt]="zoomedImage" class="zoom-image">
                            </div>
                            <div class="md:w-1/2">
                                <app-carousel [images]="images"></app-carousel>
                            </div>
                        </div>

                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>ประเภทประกัน</mat-label>
                                <input matInput placeholder="ประเภทประกัน" [formControlName]="'insurance_level'">
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>ประเภทการชำระ</mat-label>
                                <mat-select formControlName="sale_type">
                                    <mat-option *ngFor="let item of saleType;" [value]="item.code">
                                        {{item.name ?? '-'}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>ไฟแนนซ์</mat-label>
                                <input matInput [formControl]="financeFilter" [matAutocomplete]="financeAutoComplete"
                                    placeholder="ค้นหาไฟแนนซ์" />
                                <mat-autocomplete #financeAutoComplete="matAutocomplete"
                                    (optionSelected)="onSelectFinance($event.option.value, 'manual')">
                                    <mat-option *ngFor="let item of filterFinance | async" [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>จำนวนงวดที่ผ่อน</mat-label>
                                <input matInput placeholder="ระบุจำนวนงวดที่ผ่อน"
                                    [formControlName]="'finance_payment_period'">
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>อื่น ๆ </mat-label>
                                <textarea matInput [placeholder]="'อื่น ๆ '" [rows]="3"
                                    formControlName="finance_other"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>รายละเอียดเพิ่มเติม</mat-label>
                                <textarea matInput [placeholder]="'รายละเอียดเพิ่มเติม'" [rows]="3"
                                    formControlName="remark"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>ผลการสัมภาษณ์เพิ่มเติม</mat-label>
                                <textarea matInput [placeholder]="'ผลการสัมภาษณ์เพิ่มเติม'" [rows]="3"
                                    formControlName="interview"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col mx-3 md:flex mb-6 w-full md:w-1/2">
                        <div class="relative overflow-x-auto shadow-md m-4 border-2">
                            <table class="w-full text-md text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <thead
                                    class="text-md text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3 w-1/2 h-full">
                                            รายการ
                                        </th>
                                        <th scope="col" class="px-6 py-3 w-1/2 text-right h-full">
                                            จำนวนเงิน (บาท)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <td class="px-6 py-1">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput placeholder="" [formControlName]="'text_1'">
                                            </mat-form-field>
                                        </td>
                                        <td class="px-6 text-right">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput mask="separator.2" thousandSeparator=","
                                                    separatorLimit="999999999" [allowNegativeNumbers]="false"
                                                    [formControlName]="'sale_price'" [placeholder]="'ระบุราคา'"
                                                    class="text-right">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr
                                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <td class="px-6 py-1">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput placeholder="" [formControlName]="'text_2'">
                                            </mat-form-field>
                                        </td>
                                        <td class="px-6 text-right w-full">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput mask="separator.2" thousandSeparator=","
                                                    separatorLimit="999999999" [allowNegativeNumbers]="false"
                                                    [formControlName]="'finance_price'" [placeholder]="'ระบุราคา'"
                                                    class="text-right">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr
                                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <td class="px-6 py-1">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput placeholder="" [formControlName]="'text_3'">
                                            </mat-form-field>
                                        </td>
                                        <td class="px-6 text-right w-full">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput mask="separator.2" thousandSeparator=","
                                                    separatorLimit="999999999" [allowNegativeNumbers]="false"
                                                    [formControlName]="'down_price'" [placeholder]="'ระบุราคา'"
                                                    class="text-right">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr
                                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <td class="px-6 py-1">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput placeholder="" [formControlName]="'text_4'">
                                            </mat-form-field>
                                        </td>
                                        <td class="px-6 text-right w-full">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput mask="separator.2" thousandSeparator=","
                                                    separatorLimit="999999999" [allowNegativeNumbers]="false"
                                                    [formControlName]="'tax_and_plo'" [placeholder]="'ระบุราคา'"
                                                    class="text-right">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr
                                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <td class="px-6 py-1">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput placeholder="" [formControlName]="'text_5'">
                                            </mat-form-field>
                                        </td>
                                        <td class="px-6 text-right w-full">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput mask="separator.2" thousandSeparator=","
                                                    separatorLimit="999999999" [allowNegativeNumbers]="false"
                                                    [formControlName]="'finance_fee'" [placeholder]="'ระบุราคา'"
                                                    class="text-right">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr
                                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <td class="px-6 py-1">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput placeholder="" [formControlName]="'text_6'">
                                            </mat-form-field>
                                        </td>
                                        <td class="px-6 text-right w-full">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput mask="separator.2" thousandSeparator=","
                                                    separatorLimit="999999999" [allowNegativeNumbers]="false"
                                                    [formControlName]="'assemble_fee'" [placeholder]="'ระบุราคา'"
                                                    class="text-right">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr
                                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <td class="px-6 py-1">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput placeholder="" [formControlName]="'text_7'">
                                            </mat-form-field>
                                        </td>
                                        <td class="px-6 text-right w-full">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput mask="separator.2" thousandSeparator=","
                                                    separatorLimit="999999999" [allowNegativeNumbers]="false"
                                                    [formControlName]="'gps_fee'" [placeholder]="'ระบุราคา'"
                                                    class="text-right">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr
                                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <td class="px-6 py-1">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput placeholder="" [formControlName]="'text_8'">
                                            </mat-form-field>
                                        </td>
                                        <td class="px-6 text-right w-full">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput mask="separator.2" thousandSeparator=","
                                                    separatorLimit="999999999" [allowNegativeNumbers]="false"
                                                    [formControlName]="'insurance_price'" [placeholder]="'ระบุราคา'"
                                                    class="text-right">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr
                                        class="bg-gray-300  border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600">
                                        <td class="px-6 py-1 font-bold">
                                            รวงเงินทั้งสิ้น
                                        </td>
                                        <td class="px-6 text-right w-full">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput mask="separator.2" thousandSeparator=","
                                                    separatorLimit="999999999" [allowNegativeNumbers]="false"
                                                    [formControlName]="'total_price'" [placeholder]="'ระบุราคา'"
                                                    class="text-right">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr
                                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <td class="px-6 py-1">
                                            หักค่ามัดจำ
                                        </td>
                                        <td class="px-6 text-right w-full">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput mask="separator.2" thousandSeparator=","
                                                    separatorLimit="999999999" [allowNegativeNumbers]="false"
                                                    [formControlName]="'first_payment'" [placeholder]="'ระบุราคา'"
                                                    class="text-right">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr
                                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <td class="px-6 py-1">
                                            หักส่วนลดพิเศษ
                                        </td>
                                        <td class="px-6 text-right w-full">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput mask="separator.2" thousandSeparator=","
                                                    separatorLimit="999999999" [allowNegativeNumbers]="false"
                                                    [formControlName]="'discount'" [placeholder]="'ระบุราคา'"
                                                    class="text-right">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr
                                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <td class="px-6 py-1">
                                            ค่าใช้จ่ายอื่น ๆ
                                        </td>
                                        <td class="px-6 text-right w-full">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput mask="separator.2" thousandSeparator=","
                                                    separatorLimit="999999999" [allowNegativeNumbers]="false"
                                                    [formControlName]="'other_price'" [placeholder]="'ระบุราคา'"
                                                    class="text-right">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr
                                        class="bg-gray-300  border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600">
                                        <td class="px-6 py-1">
                                            คงเหลือชำระวันรับรถ
                                        </td>
                                        <td class="px-6 text-right w-full">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput mask="separator.2" thousandSeparator=","
                                                    separatorLimit="999999999" [allowNegativeNumbers]="false"
                                                    [formControlName]="'final_price'" [placeholder]="'ระบุราคา'"
                                                    class="text-right">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <span
                            class="px-6 text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500">
                            โปรโมชั่นที่ลูกค้าได้รับ
                            <div class="flex flex-row justify-between">
                                <div class="w-full mb-6 md:mb-0">
                                    <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                        <mat-label>เลือกโปรโมชั่น</mat-label>
                                        <mat-select formControlName="promotion_id"
                                            (selectionChange)="onSelectedPromotion($event.value)">
                                            <mat-option *ngFor="let item of promotionData;" [value]="item.id">
                                                {{item.name ?? '-'}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <!-- <p>
                                    <button class="px-6 ml-3" mat-flat-button [color]="'primary'"
                                        (click)="addPromotion()">
                                        เพิ่ม Promotion
                                    </button>
                                </p> -->
                            </div>
                        </span>
                        <div class="relative overflow-x-auto shadow-md m-4 border-2" formArrayName="promotion_lists">
                            <table class="w-full text-md text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <thead
                                    class="text-md text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3 w-1/4 h-full">
                                            รายการ
                                        </th>
                                        <th scope="col" class="px-6 py-3 w-1/4 h-full">
                                            จำนวนเงิน
                                        </th>
                                        <th scope="col" class="px-6 py-3 w2/4 text-center h-full">
                                            รายละเอียด
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let depo; of: promotions().controls; let i = index" [formGroupName]="i"
                                        class="bg-white border-b dark:bg-gray-800 h-15 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <td class="px-6 py-1">
                                            {{this.formData.value.promotion_lists[i].name}}
                                        </td>
                                        <td class="px-6 text-right">
                                            <mat-form-field class="w-full mt-4" [ngClass]="formFieldHelpers">
                                                <input matInput mask="separator.2" thousandSeparator=","
                                                    separatorLimit="999999999" [allowNegativeNumbers]="false"
                                                    [formControlName]="'amount'" [placeholder]="'ระบุราคา'"
                                                    class="text-right">
                                            </mat-form-field>
                                        </td>
                                        <td class="px-6 py-1 text-center">
                                            <mat-radio-group aria-label="Select an option" formControlName="status">
                                                <mat-radio-button value="Y">เคพีดำเนินการ </mat-radio-button>
                                                <mat-radio-button value="N">ลูกค้าดำเนินการ </mat-radio-button>
                                            </mat-radio-group>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="flex md:flex-row flex-col">
                    <div class="flex flex-col mx-3 md:flex mb-6 w-full">
                        <span
                            class="px-6 text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500">
                            ข้อมูลซ่อมบำรุง
                        </span>
                        <div class="relative overflow-x-auto shadow-md m-4 border-2" formArrayName="repairs">
                            <table class="w-full text-md text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <thead
                                    class="text-md text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3 w-1/12 h-full">

                                        </th>
                                        <th scope="col" class="px-6 py-3 w-2/12 h-full">
                                            ประเภทช่าง
                                        </th>
                                        <th scope="col" class="px-6 py-3 w-3/12  h-full">
                                            เลือกช่าง
                                        </th>
                                        <th scope="col" class="px-6 py-3 w-6/12 h-full">
                                            รายละเอียด
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let depo; of: repairs().controls; let i = index" [formGroupName]="i"
                                        class="bg-white border-b dark:bg-gray-800 h-15 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <td class="px-6 py-1">
                                            <button class="mb-2 bg-red-500" mat-flat-button [color]="'warn'"
                                                (click)="removeRepair(i)">
                                                <mat-icon svgIcon="heroicons_solid:trash"> </mat-icon>&nbsp;
                                            </button>
                                        </td>
                                        <td class="px-6 py-1 text-center">
                                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:w-full mt-3">
                                                <mat-select formControlName="type">
                                                    <mat-option *ngFor="let item of repairType;" [value]="item.code">
                                                        {{item.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                        <td class="px-6 py-1 text-center">
                                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:w-full  mt-3"
                                                *ngIf="this.formData.value.repairs[i].type === 'IN'">
                                                <mat-select formControlName="engineer_id">
                                                    <mat-option *ngFor="let item of engineerData;" [value]="item.id">
                                                        {{item.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:w-full  mt-3"
                                                *ngIf="this.formData.value.repairs[i].type === 'OUT'">
                                                <mat-select formControlName="engineer_id">
                                                    <mat-option *ngFor="let item of garageData;" [value]="item.id">
                                                        {{item.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                        <td class="px-6 py-1 text-center">
                                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:w-full mt-3">
                                                <input matInput placeholder="รายละเอียด" [formControlName]="'detail'">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr
                                        class="text-md text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                        <td colspan="4">
                                            <button class="mx-6 my-3" mat-flat-button [color]="'accent'"
                                                (click)="addRepair()">
                                                <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
            <div class="flex justify-center m-4">
                <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="onSubmit()">
                    บันทึก
                </button>
                <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onBack()">
                    ยกเลิก
                </button>
            </div>
        </div>
        <!-- {{this.formData.value | json}} -->

    </div>
</div>