input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: var(--fuse-primary-500);
}

.checkbox-card {
    // background: linear-gradient(0deg, #FF4849, #FF4849),
    //     linear-gradient(0deg, #FFF9F9, #FFF9F9);
    box-shadow: 0px 3.7333333492279053px 28px 0px #1B19560F;
}

input[type="checkbox"]:checked ~ * .checkbox-card {
    border: 1px solid #FF4849 !important;
    background-color: #fff9f9 !important;
}