<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                    *ngIf="!this.Id">
                    เพิ่มสินค้า
                </h2>
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                    *ngIf="this.Id">
                    แก้ไขข้อมูล
                </h2>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="grid gap-4 w-full sm:grid-cols-1 md:grid-cols-2">
            <div class="bg-card rounded-2xl md:shadow overflow-hidden px-8 pt-6 pb-8 mb-4 flex flex-col my-2"
                [formGroup]="formData">
                <span
                    class="text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500">
                    ข้อมูลสินค้า
                </span>
                <div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3 mb-6 md:mb-0">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>หมวดหมู่สินค้าหลัก</mat-label>
                                <mat-select [formControlName]="'category_product_id'">
                                    <mat-option [value]="''">
                                        <span>เลือกหมวดหมู่สินค้า</span>
                                    </mat-option>
                                    <mat-option *ngFor="let item of item1Data" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>ผู้จำหน่าย</mat-label>
                                <mat-select [formControlName]="'supplier_id'">
                                    <mat-option [value]="''">
                                        <span>เลือกผู้จำหน่าย</span>
                                    </mat-option>
                                    <mat-option *ngFor="let item of itemSupplier" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="md:w-1/2 px-3">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>ประเภทสินค้า</mat-label>
                                <mat-select [formControlName]="'type'">
                                    <mat-option [value]="''">
                                        <span>เลือกประเภทสินค้า</span>
                                    </mat-option>
                                    <mat-option value="First">มือหนึ่ง</mat-option>
                                    <mat-option value="Secound">มือสอง</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>บริษัท</mat-label>
                                <mat-select [formControlName]="'companie_id'"
                                    (selectionChange)="somethingCompanie($event)">
                                    <mat-option [value]="''">
                                        <span>เลือกบริษัท</span>
                                    </mat-option>
                                    <mat-option *ngFor="let item of companie" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="md:w-1/2 px-3">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>สาขา</mat-label>
                                <mat-select [formControlName]="'area_id'">
                                    <mat-option [value]="''">
                                        <span>เลือกสาขา</span>
                                    </mat-option>
                                    <mat-option *ngFor="let item of areas" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:min-w-full px-3 mb-6 md:mb-0">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>ชื่อสินค้า</mat-label>
                                <input matInput [formControlName]="'name'" [placeholder]="'ชื่อสินค้า'">
                                <!-- <mat-hint>This is a hint text</mat-hint> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>ราคาทุน</mat-label>
                                <input matInput [placeholder]="'ต้นทุน'" [formControlName]="'cost'">
                                <!-- <mat-hint>This is a hint text</mat-hint> -->
                            </mat-form-field>
                        </div>
                        <div class="md:w-1/2 px-3">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>ราคาขาย</mat-label>
                                <input matInput [placeholder]="'ราคาขาย'" [formControlName]="'sale_price'">
                                <!-- <mat-hint>This is a hint text</mat-hint> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                            <mat-label class="font-bold">สถานะ VAT</mat-label>
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                                formControlName="vat_status">
                                <mat-radio-button class="example-radio-button" *ngFor="let item of status"
                                    [color]="'primary'" [value]="item.id">
                                    {{item.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6" *ngIf="this.formData.value.type === 'Secound'">
                        <div class="md:w-full px-3 mb-6 md:mb-0">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>เลขไมล์</mat-label>
                                <input matInput [placeholder]="'เลขไมล์'" [formControlName]="'mile'">
                                <!-- <mat-hint>This is a hint text</mat-hint> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>ยางหน้า</mat-label>
                                <input matInput [placeholder]="'ยางหน้า'" [formControlName]="'front_tire'">
                                <!-- <mat-hint>This is a hint text</mat-hint> -->
                            </mat-form-field>
                        </div>
                        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                            <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                <mat-label>ยางหลัง</mat-label>
                                <input matInput [placeholder]="'ยางหลัง'" [formControlName]="'back_tire'">
                                <!-- <mat-hint>This is a hint text</mat-hint> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-2">
                        <div class="md:min-w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>รายละเอียด</mat-label>
                                <textarea matInput [placeholder]="'กรอกข้อมูลที่อยู่'" [formControlName]="'detail'"
                                    [rows]="6"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="w-full mb-6 md:mb-0" *ngIf="this.Id">
                    <div class="relative overflow-x-auto shadow-md m-0 border-2">
                        <table class="w-full text-md text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead
                                class="text-md text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3 w-1/6 h-full">
                                        ลำดับ
                                    </th>
                                    <th scope="col" class="px-6 py-3 w-3/6 text-center h-full">
                                        รูป
                                    </th>
                                    <th scope="col" class="px-6 py-3 w-2/6 text-center h-full">
                                        Download
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    class="bg-white border-b dark:bg-gray-800 h-15 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <td class="px-6 py-1">
                                        ภาพหลัก
                                    </td>
                                    <td class="px-6 text-center">
                                        <div class="grid h-auto w-full place-items-center overflow-x-scroll rounded-lg p-0 md:p-6 lg:overflow-visible cursor-pointer"
                                            (click)="showPicture(itemData?.image)">
                                            <img class="object-cover object-center w-full rounded-lg h-auto"
                                                [src]="itemData?.image" alt="nature image" />
                                        </div>

                                    </td>
                                    <td class="px-6 text-center">
                                        <button class="cursor-pointer" (click)="downloadImage(itemData?.image)">
                                            <mat-icon svgIcon="heroicons_outline:cloud-arrow-down"
                                                class="icon-size-10"></mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 h-15 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                                    *ngIf="itemData?.video_url">
                                    <td class="px-6 py-1">
                                        VDO
                                    </td>
                                    <td class="px-6 text-center">
                                        {{itemData.video_url ?? '-'}}
                                    </td>
                                    <td class="px-6 text-center">
                                        <button class="cursor-pointer" (click)="downloadVideo(itemData?.video_url)">
                                            <mat-icon svgIcon="heroicons_outline:cloud-arrow-down"
                                                class="icon-size-10"></mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="relative overflow-x-auto shadow-md m-0 border-2">
                        <table class="w-full text-md text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead
                                class="text-md text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3 w-1/6 h-full">
                                        <label>
                                            <mat-checkbox (change)="toggleAllSelection($event)"></mat-checkbox>
                                        </label>
                                    </th>
                                    <th scope="col" class="px-6 py-3 w-3/6 text-center h-full">
                                        รูป
                                    </th>
                                    <th scope="col" class="px-6 py-3 w-2/6 text-center h-full">

                                        <button class="cursor-pointer" (click)="downloadSelectedImages()">
                                            <mat-icon svgIcon="heroicons_outline:cloud-arrow-down"
                                                class="icon-size-10"></mat-icon>
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let item of this.images; let i = index">
                                    <tr
                                        class="bg-white border-b dark:bg-gray-800 h-15 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <td class="px-6 py-1">
                                            <label>
                                                <mat-checkbox [(ngModel)]="item.selected"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (change)="onCheckboxChange($event, item)"></mat-checkbox>
                                            </label>
                                        </td>
                                        <td class="px-6 text-center" >
                                            <div class="grid h-auto w-full place-items-center overflow-x-scroll rounded-lg p-0 md:p-6 lg:overflow-visible cursor-pointer"
                                                (click)="showPicture(item.image)">
                                                <img class="object-cover object-center w-full rounded-lg h-auto"
                                                    [src]="item.image" alt="nature image" />
                                            </div>

                                        </td>
                                        <td class="px-6 text-center" >
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <form class="bg-card rounded-2xl md:shadow overflow-hidden px-8 pt-6 pb-8 mb-4 flex flex-col my-2"
                [formGroup]="formData"> <span
                    class="text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500">
                    คุณลักษณะ
                </span>
                <div class="-mx-3 md:flex mb-6">
                    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>เลขถัง</mat-label>
                            <input matInput [placeholder]="'เลขถัง'" [formControlName]="'tank_no'">
                            <!-- <mat-hint>This is a hint text</mat-hint> -->
                        </mat-form-field>
                    </div>
                    <div class="md:w-1/2 px-3">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>เลขเครื่อง</mat-label>
                            <input matInput [placeholder]="'เลขเครื่อง'" [formControlName]="'engine_no'">
                            <!-- <mat-hint>This is a hint text</mat-hint> -->
                        </mat-form-field>
                    </div>

                </div>
                <div class="-mx-3 md:flex mb-6">
                    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>เลขทะเบียนรถ</mat-label>
                            <input matInput [placeholder]="'เลขทะเบียนรถ'" [formControlName]="'license_plate'">
                            <!-- <mat-hint>This is a hint text</mat-hint> -->
                        </mat-form-field>
                    </div>
                    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>จังหวัด</mat-label>
                            <input matInput [placeholder]="'จังหวัด'" [formControlName]="'province'">
                            <!-- <mat-hint>This is a hint text</mat-hint> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="-mx-3 md:flex mb-6">
                    <div class="md:min-w-full px-3 mb-6 md:mb-0">
                        <mat-form-field [ngClass]="formFieldHelpers" (selectionChange)="somethingBrandChanged($event)"
                            class="w-full">
                            <mat-label>ยี่ห้อ</mat-label>
                            <mat-select [formControlName]="'brand_id'" (selectionChange)="getBrandModel($event.value)">
                                <mat-option [value]="''">
                                    <span>เลือกยี่ห้อ</span>
                                </mat-option>
                                <mat-option *ngFor="let item of itemBrand" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="-mx-3 md:flex mb-6">
                    <div class="md:min-w-full px-3 mb-6 md:mb-0">
                        <mat-form-field [ngClass]="formFieldHelpers"
                            (selectionChange)="somethingBrandModelChanged($event)" class="w-full">
                            <mat-label>รุ่น</mat-label>
                            <mat-select [formControlName]="'brand_model_id'">
                                <mat-option [value]="''">
                                    <span>เลือกรุ่น</span>
                                </mat-option>
                                <mat-option *ngFor="let item of itemBrandModel" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="-mx-3 md:flex mb-6">
                    <div class="md:w-1/3 px-3 mb-6 md:mb-0">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>ปี</mat-label>
                            <input matInput [placeholder]="'ปี'" [formControlName]="'year'">
                            <!-- <mat-hint>This is a hint text</mat-hint> -->
                        </mat-form-field>
                    </div>
                    <div class="md:min-w-1/3 px-3 mb-6 md:mb-0">
                        <mat-form-field [ngClass]="formFieldHelpers" (selectionChange)="somethingCCChanged($event)"
                            class="w-full">
                            <mat-label>ซีซี</mat-label>
                            <mat-select [formControlName]="'cc_id'">
                                <mat-option [value]="''">
                                    <span>เลือกซีซี</span>
                                </mat-option>
                                <mat-option *ngFor="let item of itemCC" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="md:min-w-1/3 px-3 mb-6 md:mb-0">
                        <mat-form-field [ngClass]="formFieldHelpers" (selectionChange)="somethingColorChanged($event)"
                            class="w-full">
                            <mat-label>สี</mat-label>
                            <mat-select [formControlName]="'color_id'">
                                <mat-option [value]="''">
                                    <span>เลือกสี</span>
                                </mat-option>
                                <mat-option *ngFor="let item of itemColor" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="-mx-3 md:flex mb-6">
                    <div class="md:min-w-full px-3 mb-6 md:mb-0">
                        <div class="border-t border-gray-200">
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                <div class="flex flex-wrap justify-start">
                                    <ngx-dropzone style="width: 100%; height: 150px; justify-content: center;"
                                        (change)="onSelect($event)">
                                        <ngx-dropzone-label>รูปหลัก</ngx-dropzone-label>
                                        <ngx-dropzone-image-preview *ngFor="let f of files" [removable]="true"
                                            [file]="f" (removed)="onRemove(f)">
                                        </ngx-dropzone-image-preview>
                                    </ngx-dropzone>
                                </div>
                            </dd>
                        </div>
                    </div>
                </div> -->

                <div class="-mx-3 md:flex mb-6">
                    <div class="md:min-w-full px-3 mb-6 md:mb-0">
                        <div class="border-t border-gray-200">
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                <div class="flex flex-wrap justify-start">
                                    <ngx-dropzone style="width: 100%; height: 150px; justify-content: center;"
                                        (change)="onSelect1($event)">
                                        <ngx-dropzone-label>รูปภาพ</ngx-dropzone-label>
                                        <ngx-dropzone-image-preview *ngFor="let f of files1" [removable]="true"
                                            [file]="f" (removed)="onRemove1(f)">
                                        </ngx-dropzone-image-preview>
                                    </ngx-dropzone>
                                </div>
                            </dd>
                        </div>
                    </div>
                </div>

                <div class="-mx-3 md:flex mb-6">
                    <div class="md:min-w-full px-3 mb-6 md:mb-0">
                        <!-- <div class="border-t border-gray-200">
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                <div class="flex flex-wrap justify-start">
                                    <ngx-dropzone style="width: 100%; height: 150px; justify-content: center;"
                                        (change)="onSelect2($event)">
                                        <ngx-dropzone-label>วิดีโอ</ngx-dropzone-label>
                                        <ngx-dropzone-image-preview *ngFor="let f of files2" [removable]="true"
                                            [file]="f" (removed)="onRemove2(f)">
                                        </ngx-dropzone-image-preview>
                                    </ngx-dropzone>
                                </div>
                            </dd>
                        </div> -->
                        <mat-form-field class="w-full" (click)="file_name.click()">
                            <!-- <mat-label>รูปเอกสาร</mat-label> -->
                            <div matPrefix class="bg-red-400 cursor-pointer pr-2">
                                <p>Upload Video |</p>
                            </div>
                            <button mat-icon-button matSuffix>
                                <mat-icon>attach_file</mat-icon>
                            </button>
                            <input type="text" readonly matInput [formControlName]="'file_name'" />
                            <input type="file" hidden #file_name (change)="onSelect2(file_name.files, 'addfile', 0)" />
                            <mat-error>กรุณาเลือกไฟล์</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row mt-2 justify-end">
                    <div class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="New();">
                            บันทึก
                        </button>
                        <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="backTo()">
                            ยกเลิก
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>