<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                   รายการประวัติการใช้งาน
                </h2>
                <!-- <div class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="addElement()">
                        <mat-icon>person_add</mat-icon>
                        &nbsp;
                        เพิ่มตู้เก็บสินค้า
                    </button>
                </div> -->
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-10  bg-white">
        <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover">
                <thead>
                    <tr>
                        <th class="w-1/12">ลำดับ</th>
                        <th class="w-2/12">ผู้ใช้งาน</th>
                        <th class="w-2/12">ประเภท</th>
                        <th class="w-5/12">รายละเอียด</th>
                        <th class="w-2/12">วันที่สร้าง</th>
                    </tr>
                </thead>
                <tbody *ngIf="dataRow?.length != 0">
                    <tr *ngFor="
                            let item of dataRow;
                            let i = index
                        ">
                        <td style="width: 5%">
                            {{ pages.begin + (i + 1) }}
                        </td>
                        <td>{{ item.user_id  ?? ''  }}</td>
                        <td>{{ item.type ?? '' }}</td>
                        <td>{{ item.description  ?? '' }}</td>
                        <td> {{ item.created_at ?? ''}} </td>
                    </tr>
                </tbody>
                <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                        <td colspan="9" class="no-data-available text-center">
                            ไม่มีข้อมูล !
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
